
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');
html,body{
    
    display: block;
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    color: #fff;
    font-family: 'Fira Mono', monospace;
    background: black;
}

#container{
   background-image: url('data:image/svg+xml,%3Csvg width="42" height="44" viewBox="0 0 42 44" xmlns="http://www.w3.org/2000/svg"%3E%3Cg id="Page-1" fill="none" fill-rule="evenodd"%3E%3Cg id="brick-wall" fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
width: 100%;
height: 100%;
}
#myProgress{
    /* width: 100%; */
    background: rgba(255,255,255,0.1);
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width: 70%;
    margin: 0 auto;
    margin-top: 2%;
}
#myBar {
    width: 0%;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
}
.loading-Game{
    font-size: 50px;
    width: 70%;
    margin: 0 auto;
    animation: glitch 0.5s linear infinite;
    padding-top: 20%;
}
@keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
}
  
.loading-Game:before,
.loading-Game:after{
content: attr(class);
position: absolute;
left: 0;
}

.loading-Game:before{
animation: glitchTop 1s linear infinite;
clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
-webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
2%,64%{
    transform: translate(2px,-2px);
}
4%,60%{
    transform: translate(-2px,2px);
}
62%{
    transform: translate(13px,-1px) skew(-13deg); 
}
}

.loading-Game:after{
animation: glitchBotom 1.5s linear infinite;
clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
-webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
2%,64%{
    transform: translate(-2px,0);
}
4%,60%{
    transform: translate(-2px,0);
}
62%{
    transform: translate(-22px,5px) skew(21deg); 
}
}
#menu-break{
    display: none;
}